<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.usertaxi">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="com.usertaxi.android.maps.marker.permission.MAPS_RECEIVE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.CALL_PHONE"></uses-permission>
    <uses-permission android:name="com.usertaxi.permission.C2D_MESSAGE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />


    <permission
        android:name="com.usertaxi.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />


    <application
        android:name=".gcmclasses.Controller"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SplashScreenActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RegisterActivity"
            android:label="@string/title_activity_register"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".RequestTaxiActivity"
            android:label="@string/title_activity_request_taxi"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden"
            />
        <activity
            android:name="com.usertaxi.RecivedMessage"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitleDialog"></activity>

        <activity
            android:name=".ShowTaxi_InMap"
            android:label="@string/title_activity_showtaxi"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".TripHistory_Activity"
            android:label="@string/title_activity_trip_history_"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".UserProfileAcivity"
            android:label="@string/title_activity_myprofile"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden"></activity>

        <activity
            android:name=".TaxiOntheWay_Activity"
            android:label="@string/title_activity_taxidetail"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".TaxiArrived_Acitivity"
            android:label="@string/title_activity_taxidetail"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".RateExperience_Activity"
            android:label="@string/title_activity_rateexperience"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden"></activity>
        <activity
            android:name=".TripForDetail_Activity"
            android:label="@string/title_activity_tripdetail"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden"></activity>
        <activity
            android:name=".TripHistoryDetailsActivity"
            android:label="@string/title_activity_taxidetail"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden"></activity>
        <activity
            android:name=".DrawerMainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"

            android:windowSoftInputMode="stateHidden"></activity>
        <activity
            android:name=".LoginActivity"
            android:label="@string/title_activity_login"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden"></activity>

        <activity
            android:name=".NotificationActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".DemoMap"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".MyLocationmapUpdate"
            android:label="@string/title_activity_registerlogin"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"></activity>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />
        <meta-data
            android:name="com.bugsnag.android.API_KEY"
            android:value="d36cc988d092c15f27470566706ba8c5" />

        <receiver
            android:name=".service.MyAlarmReceiver"
            android:process=":remote"></receiver>
        <receiver
            android:name="com.google.android.gcm.GCMBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>

                <!-- Receives the actual messages. -->
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <!-- Receives the registration id. -->
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <category android:name="com.usertaxi" />
            </intent-filter>
        </receiver>

        <service android:name=".GCMIntentService" />
        <service
          android:name=".service.DriverService"
        android:enabled="true"
        android:exported="true"></service>
        <service
            android:name=".service.DrivermoveService"
            android:enabled="true"
            android:exported="true" />
    </application>

</manifest>
